:host {
    display: block;
    height: 100%;
}
/* Toolbar */
.mat-toolbar {
    display: flex;
    align-items: center;
    .toolbar-title {
        margin-left: 10px;
    }
    .spacer {
        flex: 1;
    }
}

.mat-drawer-container {
    height: calc(100% - 64px);
}

.mat-drawer {
    width: 250px;
}

.mat-drawer-content {
    padding: 32px;
    background-color: rgb(241, 245, 249);
}

// Form

.form-heading {
    // text-align: center;
    h2 {
        margin: 0;
    }
    margin-bottom: 16px;
}

.form-heading h2 {
    font-size: 24px;
    font-weight: bold;
}

.form-card {
    // width: 800px;
    margin: 0 auto;
}

.form-row {
    display: grid;
    grid-auto-flow: column;
    column-gap: 24px;
}

.form-column {
    .mat-mdc-form-field {
        width: 100%;
    }
}

button[type="submit"] {
    margin-top: 16px;
    // width: 100%;
}

.profile-panel {
    text-align: center;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 300px;
}

.avatar {
    // font-size: 300px;
}

.email {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}
