// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-admin-demo-1-primary: mat.define-palette(mat.$indigo-palette);

$ng-admin-demo-1-accent: mat.define-palette(
    mat.$pink-palette,
    A200,
    A100,
    A400
);

// The warn palette is optional (defaults to red).
$ng-admin-demo-1-warn: mat.define-palette(mat.$red-palette);

// My Platte
// Color
$ng-admin-primary-palette: mat.define-palette(
    (
        50: #fbe5f0,
        100: #f6bdda,
        200: #f393c2,
        300: #f166a9,
        400: #f04394,
        500: #f11b7e,
        600: #df1b7a,
        700: #c81a73,
        800: #b2186d,
        900: #8a1663,
        contrast: (
            50: rgba(black, 0.87),
            100: rgba(black, 0.87),
            200: rgba(black, 0.87),
            300: white,
            400: white,
            500: white,
            600: white,
            700: white,
            800: white,
            900: white,
        ),
    )
);

$ng-admin-secondary-palette: mat.define-palette(
    (
        50: #fffde9,
        100: #fef9c9,
        200: #fef5a5,
        300: #fdf183,
        400: #fbec68,
        500: #f8e751,
        600: #fddb51,
        700: #f9c449,
        800: #f5ad41,
        900: #ee8733,
        contrast: (
            50: rgba(black, 0.87),
            100: rgba(black, 0.87),
            200: rgba(black, 0.87),
            300: white,
            400: white,
            500: white,
            600: white,
            700: white,
            800: white,
            900: white,
        ),
    )
);

// Font

$ng-admin-typography: mat.define-typography-config(
    $font-family: "Poppins",
    // $button:
    //     mat.define-typography-level(
    //         $font-family: "Poppins",
    //         $font-weight: 600,
    //         $font-size: 14px,
    //         $line-height: 1,
    //         $letter-spacing: normal,
    //     ),
    // //         headline-1	One-off header, usually at the top of the page (e.g. a hero header).
    // // headline-2	One-off header, usually at the top of the page (e.g. a hero header).
    // // headline-3	One-off header, usually at the top of the page (e.g. a hero header).
    // // headline-4	One-off header, usually at the top of the page (e.g. a hero header).
    // // headline-5	Section heading corresponding to the <h1> tag.
    // // headline-6	Section heading corresponding to the <h2> tag.
    // // subtitle-1	Section heading corresponding to the <h3> tag.
    // // subtitle-2	Section heading corresponding to the <h4> tag.
    // // body-1	Base body text.
    // // body-2	Secondary body text.
    // // caption	Smaller body and hint text.
    // // button	Buttons and anchors.,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
);
// End

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng-admin-demo-1-theme: mat.define-light-theme(
    (
        color: (
            primary: $ng-admin-demo-1-primary,
            // primary: $ng-admin-primary-palette,
            accent: $ng-admin-secondary-palette,
            warn: $ng-admin-demo-1-warn,
        ),
        typography: $ng-admin-typography,
        density: 0,
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ng-admin-demo-1-theme);

/* You can add global styles to this file, and also import other style files */

// Custome function and variables
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --text-color: #333;
    --background-color: #fff;
    --link-color: var(--primary-color);
    --gray-color: #eee;
    --black-color: #000;
    --white-color: #fff;
}

@function random-color() {
    @return rgb(random(0, 255), random(0, 255), random(0, 255));
}

// End

html,
body {
    height: 100%;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.mat-drawer {
    .mat-mdc-nav-list {
        .mat-mdc-list-item {
            .mdc-list-item__content {
                height: 100%;
                display: inline-block;
                > span {
                    height: 100%;
                    display: inline-grid;
                    grid-auto-flow: column;
                    column-gap: 16px;
                    align-items: center;
                }
            }
        }
    }
}

/* Sizing classes for Angular Material buttons */
.x-large {
    font-size: 24px;
    padding: 16px 24px;
    height: auto !important;
}

.x2-large {
    font-size: 32px;
    padding: 24px 32px;
    height: auto !important;
}

.x3-large {
    font-size: 48px;
    padding: 36px 48px;
    height: auto !important;
}

/* Add more sizing classes as needed */
